

.App, .collections, .products, .about {
    font-family: 'Raleway', sans-serif;
}

#header {
    height: 30px;
    font-size:small;
    background-color: black;
}


#navbar {
    margin-top:30px;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    background-color:white;
}

img {
    width: 100%;
}

#featured {
    margin-top: 2%;
    margin-bottom: 2%;
}

#featured h1 {
    margin: 2%;
    font-family: "Yantramanav", sans-serif;
}

#featured a {
    text-decoration: none;
    color: black;
    padding:1%;
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#footer {
    padding: 2%;
    background-color: black;
    color: white;
}

#logo {
    font-size: larger;
    text-align: center;
}

#company-info {
    text-align: center;
    padding-top:2%;
    padding-bottom: 2%; 
    font-size: small;
    line-height: 80%;
    left:50%;
}

#company-info a {
    text-decoration: none;
    color: white;
}

#copyright {
    padding-top:2%;
    font-size: xx-small;
    text-align: center;
}

/* collections page */

#productlist {
    padding-top:5%;
    justify-content: center;
    align-items: center;
}

#productlist .card-title {
    font-size: 20px;
    font-family: "Yantramanav", sans-serif;
    padding: 1%;
}

#productlist .card-text {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    padding: 1%;
}

#productlist a {
    text-decoration: none;
    color: black;
}

/* product details page */

#productdetails img {
    max-width: 40em;
}

#productdetails {
    margin: 5%;
    font-family: "Roboto", sans-serif;
}

#productdetails #productName {
    font-size: 70px;
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
}

#productdetails #productPrice {
    font-size: 30px;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}

#cartButton {
    width: 30%;
	border: 2px solid black;
	color: black;
	padding: 1% 5%;
	font-size: 20px;
	font-family: "Yantramanav", sans-serif;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

#cartButton:hover {
    background-color: black;
	color: white;
	text-decoration: none;
}

/* about us page */

#about {
    margin: 5%;
}

#about h1 {
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    font-size: 70px;
}

#about img {
    max-width: 40em;
}

/* login  page */

#center {
    top: 50%;
    left: 50%;
    margin: 0;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}