

.App, .collections, .products, .about {
    font-family: 'Raleway', sans-serif;
}

#header {
    height: 30px;
    font-size:small;
    background-color: black;
}


#navbar {
    margin-top:30px;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    background-color:white;
}

img {
    width: 100%;
}

#featured {
    margin-top: 2%;
    margin-bottom: 2%;
}

#featured h1 {
    margin: 2%;
    font-family: "Yantramanav", sans-serif;
}

#footer {
    padding: 2%;
    background-color: black;
    color: white;
}

#logo {
    font-size: larger;
    text-align: center;
}

#company-info{
    text-align: center;
    padding-top:2%;
    font-size: small;
    line-height: 80%;
    left:50%;
}

#copyright {
    padding-top:2%;
    font-size: xx-small;
    text-align: center;
}

/* collections page */

#productlist {
    padding-top:5%;
    justify-content: center;
    align-items: center;
}

/* product details page */

#productdetails img {
    max-width: 24em;
}

#productdetails {
    margin: 5%;
}

/* about us page */

#about {
    margin: 5%;
}